entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

# Замените email на свой для уведомлений Let's Encrypt
certificatesResolvers:
  le:
    acme:
      email: admin@example.com
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

api:
  dashboard: true
  insecure: false
