entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

# Email для Let's Encrypt (укажите свой, если не pressfbot.ru)
certificatesResolvers:
  le:
    acme:
      email: "noreply@pressfbot.ru"
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

api:
  dashboard: true
  insecure: false
