@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
